<div class="container">
  <h1 align="center"><i><b>Welcome To Test Management</b></i></h1>
  <nav class="navbar navbar-expand-sm btn-secondary navbar-dark ">
    <a class="navbar-brand" href="">ADMIN CONTROLS-></a>
    <ul class="nav nav-pills ">
    <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-5" routerLink="add-test">Add Tests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-5"  routerLink="find-test">Find Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-5"  routerLink="update-test">Update Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-5"  routerLink="add-user">Add User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-5"  routerLink="all-tests">View All Tests</a>
    </li>
   
    
  </ul>
  </nav>
  </div>
  
  <router-outlet></router-outlet>