<div class="container">
    <br>
    <h1 style="text-align: center;"><i><b><span class="badge badge-dark">ALL TESTS</span></b></i></h1>
<div class="form-group">
    <div class= "container">
        <table class ="table">
            <thead class="thead-dark">
                <tr>
                    <th>Test Id</th>
                    <th>Test Title</th>
                    <th>Test Total Marks</th>
                    <th>Delete Test</th>
                </tr>
        
            </thead>
            <tbody *ngFor="let test of tests">
                <tr>
                    
                    <td>{{test.testId}}</td>
                    <td>{{test.testTitle}}</td>
                    <td>{{test.testTotalMarks}}</td>
                    <td>
                        
                        <i (click)="deleteTest(test)" class="fa fa-trash-o" style="font-size:48px;color:red"></i>
                    </td>
                 </tr>
            </tbody>
        </table>
    </div>
</div>

</div>