<div class="container">
<h1><i><b><span class="badge badge-dark"></span>FIND TEST</b></i></h1>  
<form #data="ngForm" (ngSubmit)="findTestById(data)">
<div class="form-group">    
     <label>Test Id</label>
     <input  required  min="0" minlength="1" type="number"  name="testId" class="form-control" #testId="ngModel" ngModel  >
</div>

<div *ngIf="testId.errors && (testId.dirty || testId.touched)" class="alert alert-danger">
     <div [hidden]="!testId.errors.required">
          Test Id is required
     </div>
</div>



<input type="submit" value="Find Test" class="btn btn-primary">

</form>

<div *ngIf="foundStatus==='found'">
     <div class="alert alert-success" role="alert"> <h3 style="text-align: center;">Test Found</h3>  </div>
     testId = {{foundTest.testId}}
     <br>
     testTitle = {{foundTest.testTitle}}
     <br>
     testTotalMarks = {{foundTest.testTotalMarks}}
     <br>
     testDuration={{foundTest.testDuration}}
     <!-- <br>
     testStartTime={{foundTest.testStartTime  | date:'MM/dd/yyyy @ h:mma'}}
     <br>
     testEndTime={{foundTest.testEndTime | date:'MM/dd/yyyy @ h:mma'}} -->
     
     </div> 
     
     <div *ngIf="foundStatus==='Not Found'">
          
          <div class="alert alert-danger" role="alert"> <h3 style="text-align: center;">Test Does Not Exist</h3>  </div>
                
          </div> 

</div>