<div class="container">
    <div style="background-image: linear-gradient(grey, violet);" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" style="text-align: center;">Welcome to Online Test Management</h1>
        <p class="lead" style="text-align: center;">Manage your tests and users here !!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h5 class="card-title">ADD TEST</h5>
            <p class="card-text">This is used to add a new Test .</p>
            <a  routerLink="add-test" class="btn btn-warning">Click to add</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h5 class="card-title">FIND TEST</h5>
            <p class="card-text">This is used to Find Test by Id.</p>
            <a routerLink="find-test" class="btn btn-danger">Click to find</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">UPDATE TEST</h5>
            <p class="card-text">This is used to update already existing Test</p>
            <a routerLink="update-test" class="btn btn-dark">Click to update</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card text-black bg-light">
          <div class="card-body">
            <h5 style="text-align: center;" class="card-title">ASSIGN TEST</h5>
            <p style="text-align: center;" class="card-text"><span class="badge">This is used to assign test to a user.</span></p>
            <a style="margin-left: 45%;" routerLink="assign-test" class="btn btn-info">Click to assign</a>
          </div>
        </div>
      </div>
    </div>
   
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <h5 class="card-title">VIEW ALL TEST</h5>
            <p class="card-text">This is used to see all tests added.</p>
            <a  routerLink="all-tests" class="btn btn-success">Click to view</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-danger">
          <div class="card-body">
            <h5 class="card-title">ADD USER</h5>
            <p class="card-text">This is used to add new User.</p>
            <a routerLink="add-user" class="btn btn-primary">Click to add</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">VIEW ALL USERS</h5>
            <p class="card-text">This is used to see all users present.</p>
            <a  routerLink="all-users" class="btn btn-secondary">Click to view</a>
          </div>
        </div>
      </div>
    </div>
  </div>