<div class="container">

    <h1><i><b><span class="badge badge-dark">ADD TEST</span></b></i></h1>

<form #data="ngForm" (ngSubmit)="addTest(data)">

    <div class="form-group">

        <label>TEST ID: </label>

        <input required minlength="1" type="number" #id='ngModel' name="id" ngModel class="form-control">

        <div *ngIf='id.errors && (id.dirty || id.touched)' class="alert alert-danger">

            <div [hidden]='!id.errors.required'>Provide Test Id </div>

        </div>
    </div>



    <div class="form-group">

        <label>TEST TITLE: </label>

        <input required minlength="1" type="text" #title='ngModel' name="title" ngModel class="form-control">

        <div *ngIf='title.errors && title.touched' class="alert alert-danger">

            <div [hidden]='!title.errors.required'> Provide Test  Title</div>

        </div>

    </div>

    <div class="form-group">

        <label>TEST DURATION: (hh:mm) </label>

        <input required minlength="1" pattern="^[0-2][0-3]:[0-5][0-9]$" length="10" type="text" #duration='ngModel' name="duration" ngModel class="form-control">

        <div *ngIf='duration.errors && duration.touched' class="alert alert-danger">

            <div [hidden]='!duration.errors.required'> Provide Test Duration </div>
            <div [hidden]='!duration.errors.pattern'> HH:MM Format only.</div>

        </div>
    </div>

    <div class="form-group">

        <label>TOTAL MARKS: </label>

        <input required min="0" minlength="1" type="number" #totalMarks='ngModel' name="totalMarks" ngModel class="form-control">

        <div *ngIf='totalMarks.errors && totalMarks.touched' class="alert alert-danger">

            <div [hidden]='!totalMarks.errors.required'> Provide Test Total Marks </div>


        </div>
    </div>

    <div class="form-group">

        <label>START TIME </label>

        <input required minlength="1" type="datetime-local" #startTime='ngModel' name="startTime" ngModel
            class="form-control" >

        <div *ngIf='startTime.errors
                    && startTime.touched' class="alert alert-danger" >

            <div [hidden]='!startTime.errors.required'>

                Provide Test Start Time

            </div>

        </div>

    </div>
    <div class="form-group">

        <label>END TIME </label>

        <input required minlength="1" type="datetime-local" #endTime='ngModel' name="endTime" ngModel
            class="form-control">

        <div *ngIf='endTime.errors
                    && endTime.touched' class="alert alert-danger">

            <div [hidden]='!endTime.errors.required'>

                Provide Test End Time

            </div>

        </div>

    </div>
    <input [disabled]="data.invalid" type="submit" value="Add Test" class="btn btn-primary">

</form>

</div>
<div *ngIf="addedTest!=null">
       <div class="alert alert-success" role="alert"> <h3 style="text-align: center;">Test Added</h3>  </div>
</div>

